nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    
}
nav li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}
nav li a {
    color: #9e9e9e;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
nav li a:hover, nav li a:active,nav li a.active{
    cursor: pointer;
    color: #1d1b1bd1;
}
