.button {
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    padding-top: 7px 10px;
    border-radius: 5px;
    font-weight: bold;

}
.button:disabled {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
}