.button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    padding-top: 7px 10px;
    border-radius: 5px;
    font-weight: bold;

}
.button:disabled {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
}
/*
.button {
    width: 15%;
    background: #2196f3;
    color: #FFFFFF;
    border-radius: 15px;
    outline: 0;
    padding: .8em;
    margin: .3em;
    font-family: 'Vazir-FD';
    border: none;
}

.button:disabled {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
}
*/