/*
.form-control {
    background-color: white;
    width: 70%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #eeeeee;
    padding: 15px;


}
input {
    width: 95%;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    outline: none;
    box-sizing: border-box;
    margin: 10px auto;
}


input {
    width: 45%;
    border-radius: 15px;
    resize: vertical;
    border: 1px solid #BBDEFB;
    outline: 0;
    margin: .8em;
    padding: 10px;
    font-family: 'Vazir-FD';
}

textarea {
    width: 45%;
    border-radius: 15px;
    resize: vertical;
    border: 1px solid #BBDEFB;
    outline: 0;
    margin: .8em;
    padding: 10px;
    font-family: 'Vazir-FD';
}
*/