.user-avatar img {
    width: 25%;
    border-radius: 50%;
    border: 2px solid #90CAF9;
}

h2 {
    font-size: 1.4em;
}

span {
    font-size: 1em;
}
a{
    text-decoration: none;
}
li div {
    align-items: center;
}