body {
  margin: 0;
  direction: rtl;
  background: #FAFAFA;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 2em 22em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 25px 5px rgba(0,0,0,.07);
}